.page {
  background-color: #f5f4fa;
  color: #757575;
}
ul {
  list-style: none;
}
/* цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* белый цвет текста #FFFFFF */

/* акцент : #2196F3 */
