:root {
  --primary-text-color: #757575;

  --title-text-color: #212121;

  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
}

.page {
  background-color: #f5f4fa;
  color: #757575;
}
ul {
  list-style: none;
}
/* цвет основного текста #757575 */

/* вторичный цвет текста #212121 */

/* белый цвет текста #FFFFFF */

/* акцент : #2196F3 */

/* Site nav */

.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

/* Hero*/

.hero-title {
  color: #ffffff;
}

/*Button*/

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-size: 16px;
  padding: 12px 24px;
  display: inline-block;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* section*/

.section-title {
  color: var(--title-text-color);
}

/* Our team*/

.our-team .title {
  color: var(--title-text-color);
}
